.inner
  .header
    = link_to 'javascript:history.back()', class: 'to_account' do
      %i.fas.fa-arrow-left
    %h1.to_profile Follofings

  .followings_index
    - @user.followings.each do |following|
      .following_account
        = link_to account_path(following) do
          - if @user&.persisted? && @user&.avatar_image
            = image_tag following.avatar_image, class: 'avatar_present_img'
          - else
            = image_tag 'Ellipse.svg', class: 'avatar_present_img'
        .following_account_info
          = link_to account_path(following) do
            %p= following.display_name
          %p Last seen 3 years ago
