.container
  .header
    %i.fas.fa-arrow-left
    %p.profile-name= current_user.display_name 
  .border_room
    = image_tag 'Ellipse.svg', class: 'avatar-img'
  .profile-text
    .profile-two
      %p.profile-num 
        44
      %p.profile-string
        Posts
    .profile-two
      %p.profile-num.profile-num2
        110
      %p.profile-string
        Followers
    .profile-two
      %p.profile-num 
        44
      %p.profile-string
        Following
  .grid
    .grid-item
      = image_tag 'Rectangle(1).svg', class: 'grid-img'
    .grid-item
      = image_tag 'Rectangle(2).svg', class: 'grid-img'
    .grid-item
      = image_tag 'Rectangle(3).png', class: 'grid-img'
    .grid-item
      = image_tag 'Rectangle(4).png', class: 'grid-img'
    .grid-item
      = image_tag 'Rectangle(5).svg', class: 'grid-img'
    .grid-item
      = image_tag 'Rectangle(6).png', class: 'grid-img'

  
  :javascript
    $(function(){ 
      var $grid = $('.grid');
      $grid.imagesLoaded(function(){
        $grid.masonry({
          itemSelector: '.grid-item',
          columnWidth: 207,
          fitWidth: true
        });
      });
    });

  