.profile-container
  .header
    %i.fas.fa-arrow-left
    %p.profile-name= current_user.display_name 

  .border_room
  
    = render 'form', profile: @profile

  .profile-text
    .profile-two
      %p.profile-num 
        44
      %p.profile-string
        Posts
    .profile-two
      %p.profile-num.profile-num2
        110
      %p.profile-string
        Followers
    .profile-two
      %p.profile-num 
        44
      %p.profile-string
        Following
  .grid
    .grid-item-1
      = image_tag 'Rectangle(1).svg', class: 'grid-img'
    .grid-item-2
      = image_tag 'Rectangle(2).svg', class: 'grid-img'
    .grid-item-3
      = image_tag 'Rectangle(3).png', class: 'grid-img'
    .grid-item-4
      = image_tag 'Rectangle(4).png', class: 'grid-img'
    .grid-item-5
      = image_tag 'Rectangle(5).svg', class: 'grid-img'
    .grid-item-6
      = image_tag 'Rectangle(6).png', class: 'grid-img'

  .border

  


