.profile-container
  .header
    %i.fas.fa-arrow-left
    %p.profile-name= current_user.display_name 

  .border_room
    = render 'form', profile: @profile
  
  .profile-text
    .profile-two
      %p.profile-num 
        = current_user.items.count
      %p.profile-string
        Posts
    .profile-two
      = link_to account_followers_path(current_user), class: 'profile_info follower' do
        .profile-num.profile-num2 #{current_user.follower_relationships.count}
        %p.profile-string Followers
    .profile-two
      = link_to account_followings_path(current_user), class: 'profile_info following' do
        .profile-num #{current_user.following_relationships.count}
        %p.profile-string Following
  
  .grid
    .grid-item-1
      = image_tag 'Rectangle(1).svg', class: 'grid-img'
    .grid-item-2
      = image_tag 'Rectangle(2).svg', class: 'grid-img'
    .grid-item-3
      = image_tag 'Rectangle(3).png', class: 'grid-img'
    .grid-item-4
      = image_tag 'Rectangle(4).png', class: 'grid-img'
    .grid-item-5
      = image_tag 'Rectangle(5).svg', class: 'grid-img'
    .grid-item-6
      = image_tag 'Rectangle(6).png', class: 'grid-img'

  .border

  


