.inner#account-show{data: {account_id: current_user.id, follower_id: current_user.id}}
  .header
    = link_to root_path, class: 'to_timeline' do
      %i.fas.fa-arrow-left
    %p.profile-name= current_user.display_name
  .border_room
    = render 'form', profile: current_user

  .profile-text
    .profile-two
      %p.profile-num
        = current_user.items.count
      %p.profile-string
        Posts
    .profile-two.follower-following-wrap
      = link_to account_followers_path(current_user), class: 'profile_info follower' do
        .profile-num.profile-num2 #{current_user.follower_relationships.count}
        %p.profile-string Followers
    .profile-two.follower-following-wrap
      = link_to account_followings_path(current_user), class: 'profile_info following' do
        .profile-num.profile-num3 #{current_user.following_relationships.count}
        %p.profile-string Following

.account_post_images
  .account_post_container
    - current_user.items.each_with_index do |item, index1|
      .slideshow
        %div{:class => "grid slideshow_slides_#{index1+1}"}
          -item.photos.each_with_index do |photo, index2|
            = link_to item_path(item), {:class => "slide grid_item_#{index2+1}"} do
              = image_tag photo
        %div{:class => "slideshow_indicator slideshow_indicator_#{index1+1}"}

  .under

  = javascript_pack_tag 'profile'