.inner
  .header
    = link_to 'javascript:history.back()', class: 'to_account' do
      %i.fas.fa-arrow-left
    %h1.to_profile Followers

  .followings_index
    - @user.followers.each do |follower|
      .following_account
        = link_to account_path(follower) do
          - if @user&.persisted? && @user&.avatar_image
            = image_tag follower.avatar_image, class: 'avatar_present_img'
          - else
            = image_tag 'Ellipse.svg', class: 'avatar_present_img'
        .following_account_info
          = link_to account_path(follower) do
            %p= follower.display_name
          %p Last seen 3 years ago